<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div style="display: flex; flex-direction: row;">
    <div>
        <div class="upper-left-container">
            <table>
                <tr>
                    <td>
                        <button class="add-node" id="addNode" [disabled]="selecting || linking">
                            <span class="icon"></span>
                            <span class="text">Add Node</span>
                        </button>
                    </td>
                    <td>
                        <button class="add-link" id="link">
                            <div class="icon"><i class="fas fa-link"></i></div>
                            <span class="text">Add Link</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="delete" id="del" [disabled]="nodeOrEdge">
                            <div class="icon"><i class="fas fa-trash"></i></div>
                            <span class="text">Delete Link</span>
                        </button>
                    </td>
                    <td>
                        <button class="selector" id="sel">
                            <div class="icon"><i class="fas fa-mouse-pointer"></i></div>
                            <span class="text">Select</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="myDiagram"></div>
    </div>
    <h1 class="title">Signal Flow Graph Solver</h1>
    <div class="right-container" style="border-left: 2px solid rgb(224, 161, 85);
                                    border-bottom: 2px solid rgb(224, 161, 85);
                                    margin-left: -0.2%; width: 310px; height: 320px; background-color: #2993d0;
                                    align-items: center; display: flex; flex-direction: column; position: absolute; left: 1220px;">
        <span class="text">Currently Selected</span><br>
        <span class="text">{{selected? (nodeOrEdge? "Node #" : "Edge ") + (nodeOrEdge? selected.id : selected.prop('src') + " - " + selected.prop('trg')) : "Nothing"}}<br>
                            {{nodeOrEdge? "" : ("Weight: " + selected.prop('weight'))}}</span>
        <div style="display: flex; flex-direction: column; position: absolute; margin-top: 130px;">
            <input id="newWeight" type="number" value="0">
            <button class="setWeight" id="setWeight" [disabled]="nodeOrEdge">
                <span class="checkmark"><i class="fas fa-weight-hanging"></i></span>
                <span class="text">Update Weight</span>
            </button>
            <button class="submit" id="submit">
                <span class="checkmark"><i class="fas fa-check-circle"></i></span>
                <span class="text">Submit</span>
            </button>
        </div>
        <footer style="position: absolute; top: 500px; width: 316px; color: #104665;">
            <p>&copy; 2023 | Created By: <p>Mohammed Hassan, Marwan Essam,<br>Abd-Elrahman Alaadin, Hussien Mohammed, Mohammed Rafiq</p>
        </footer>
    </div>
</div>
<div id = 'display' #setNodesDisplay>
    <div class="nodes-msg">
        <div class="close" (click)="off0()">&times;</div>
        <label for="source" class="node-label">Source: </label>
        <input type="number" id="source" name="source" class="src-in" value="0"><br>
        <label for="dest" class="node-label">Destination: </label>
        <input type="number" id="dest" name="dest" class="dest-in" value="1">
        <button class="submit" id="submit-final">
            <span class="checkmark"><i class="fas fa-check-circle"></i></span>
            <span class="text">Submit</span>
        </button>
    </div>
</div>
<div id = 'display' #popUpDisplay>
    <div class="msg">
        <div class="close" (click)="off()">&times;</div>
        <h1 style="color: orangered;">Forward Paths With Gains:</h1>
        <div style="height: 100px; overflow: hidden; overflow-y: scroll;">
            <div *ngFor="let str of forwardPaths" style="font-size: large;">
                {{ str }}
            </div>
        </div>
        <h1 style="color: orangered;">Loops With Gains:</h1>
        <div style="height: 100px; overflow: hidden; overflow-y: scroll;">
            <div *ngFor="let str of loops" style="font-size: large;">
                {{ str }}
            </div>
        </div>
        <h1 style="color: orangered;">Non-Touching Loops:</h1>
        <div style="height: 100px; overflow: hidden; overflow-y: scroll;">
            <div *ngFor="let str of nonTouchingLoops" style="font-size: large;">
                {{ str }}
            </div>
        </div>
        <h2 style="color: rgb(0, 102, 255);">Main Delta = {{ mainDelta }}</h2>
        <h1 style="color: orangered;">Delta For Each Path:</h1>
        <div style="height: 100px; overflow: hidden; overflow-y: scroll;">
            <div *ngFor="let str of deltaForEachPath" style="font-size: large;">
                {{ str }}
            </div>
        </div>
        <h2 style="color: rgb(0, 102, 255);">Numeric Transfer Function = {{ numericTransferFunction }}</h2>
    </div>
</div>